.cv-button {
  background: linear-gradient(to right, #1580bc 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease;
}

.cv-button:hover {
  color: white;
  background-position: left bottom;
}

.navbar {
  transition: 0.75s all;
  animation: smooth 1s;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  .dot {
    color: #1580bc;
    transition: color 0.5s ease-in-out;
  }
}

.navbar-menu {
  .navbar-item:hover,
  .navbar-item.active {
    &::before {
      visibility: visible;
      width: 100%;
    }
  }
  .navbar-item.active {
    color: #1580bc;
  }
}

.navbar-brand {
  .navbar-item:hover {
    color: black;
  }
}
