:root {
    --grey: #c4c4c4;
    --section-color: #5D7A8B;
    --text-color: #fff;
    --icon-margin: 0px 5px;
}

* {
    margin: 0;
    padding: 0;
}

.whitetext {
    color: var(--text-color);
}

@mixin blue-background {
    background: var(--section-color);
}

@mixin icon-space {
    margin: var(--icon-margin);
}

body, html {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-size: revert;
}

button {
    @include icon-space()
}

//Navbar
.navbar-item {
    display: flex;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: 700;
}

//Main
.info {
    padding-top: 10%;
}
.info h1 {
    font-size: 3rem;
}

.count::before {
    content: attr(data-number)+"\A";
}


//About
.about {
    display: inline-block;
    text-align: center;
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    padding: 15px 15px;
    margin: 0 75px 30px;
}

.about img {
    width: 300px;
    display: block;
}

figure {
    width: 170px;
    margin: 10px 0;
    background-color: white;
    border: 1px solid;
}

figcaption {
    text-align: center;
    padding: 10px;
}
figure img {
    width: 100%;
}


//Card
.card {
    box-shadow: none;
    border: 1px solid rgb(0,0,0,.125);
}

.card-header {
    background-color: var(--grey);
    padding: 10px;
}

.card-header svg {
    @include icon-space();
}

//Skills
.skills-section {
    @include blue-background;
    padding: 15%;
    @extend .whitetext;
}

.list-item {
    margin: 5px 0;
}

.skill-tile {
    background-color: rgba(248,245,244,.05);
    padding: 10px 10px 5px;
    width: 100px;
    margin: 5px 0;
    border-radius: 8px;
}

//Resume 
.resume-section {
    @include blue-background()
}

//Contact 
.contact-section .box {
    margin-top: -9rem;
}

.box {
    background: #083C61;
    padding: 3rem 2rem;
    box-shadow: 0 5px 5px 0 rgb(0 0 0 / 20%), 0 0 0 1px #083C61;
    margin-top: -9rem;
}

/*Footer CSS*/

.footer {
    @include blue-background;
    padding-bottom: 1.5rem;
    @extend .whitetext;
}

.footer-icons {
    margin-bottom: 1.5rem;
}

.footer-icons svg {
    border: 2px solid var(--text-color);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 10px;
    @include icon-space()
}